* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
}

.div_imgLogo{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

.imgLogo{
    height: 400px;
}

.titulo{
    font-size: 20px;
    margin-bottom: 1em ;
}

.formulario, .formularioCampos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.formularioInput{
    padding-bottom: 1em ;
    margin-bottom: 1em ;
    width: 200px;
    border-radius: 25%;
    font-size: 14px;
}

.btnPlanejamento {
    width: 120px;
    height: 30px;
    color: white;
    font-size: 15px;
    margin: 1em;
    background-color: purple;
}